<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Screamcast!</title>
        <meta name="description" content="">
        <meta name="authors" content="">

        <link rel="stylesheet" href=https://unpkg.com/purecss@1.0.1/build/base-min.css">

    </head>

    <body>
        <script src=""></script>
    </body>
</html>