<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Summoning Your Scare...</title>
  <!-- <meta name="description" content=""> -->
  <!-- <meta name="authors" content=""> -->
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index.css">

</head>

<body>
  <h1>Find the Perfect Scare for Your Screen!</h1>
  <div class="buttons">

    <div class="action_btn">

      <a href="/spookymovies">
        <button name="submit" id="spooky" class="action_btn spooky" type="search" value="">Search Spooky Movies</button>
      </a>

      <a href="/halloweenmovies">
        <button name="submit" id="halloween" class="action_btn halloween" type="search" value="">Search Halloween
          Movies</button>
      </a>

    </div>

  </div>


  <script type="text/javascript" src="/js/index.js"></script>

</body>

</html>