<!DOCTYPE html>
<html lang="en">

<div class="buttons">

            <div class="action_btn">

            <button name="submit" id="spooky" class="action_btn spooky" type="search" value="">Search Spooky Movies</button>
    <title>Screamcast!</title>
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="authors" content=""> -->

    <link rel="stylesheet" href="">

            <button name="submit" id="halloween" class="action_btn halloween" type="search" value="" >Search Halloween Movies</button>

            </div>

        </div>
<body>
    <div class="buttons">

      <div class="action_btn">

            <button name="submit" id="spooky" class="action_btn spooky" type="search" value="">Search Spooky Movies</button>

            <button name="submit" id="halloween" class="action_btn halloween" type="search" value="" >Search Halloween Movies</button>

      </div>

    </div>


<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
