<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="styles/movie-list.css" />
</head>

<body>
    <div class="movie-list-title">
        <h1>{{#if spooky}} Spooky {{else}} Halloween {{/if}}Movies</h1>
    </div>
    <!--results page-->

    <ul>
        {{#each movies}}
        <li><a href="/moviedetailspage">"{{dataValues.title}}" {{dataValues.year}}</a></li>
        {{/each}}


    </ul>

</body>

</html>