<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>

    <link rel="stylesheet" type="text/css" href="movie-list.css"/>

</head>
<body>

    <div class="table">
        
    </div>
    
</body>
</html>