<div class="image-left">
  <img src="source" alt="Movie Poster Logo" />


  <div class="table">
    <table>
      <tr>
        <td>Title:</td>
        <td>"text"</td>
      <tr>
        <td>Director:</td>
        <td>"text"</td>
      <tr>
        <td>Starring:</td>
        <td>"text"</td>
      <tr>
        <td>Rating:</td>
        <td>"text"</td>

        <div class="movieInfo text-glow">

          <p>General Movie Information
          <p>
        </div>
        <script type="text/javascript" async src="moviedetailspage.js"></script>