.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline;
}

.action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;
}
body {
  margin: auto;
  max-width: 42em;
  background-color: #452a79;
}
