html {
  padding: 0 1em;
  font-family: "Creepster", cursive;
  font-size: large;
}

h1.movieInfo.text-glow {
  font-family: "Creepster", cursive;
  text-shadow: 1px 1px 15px white;
}

body {
  margin: auto;
  background-color: #452a79;
  background-image: url("Scarytree.png");
  background-position: right;
}

img {
  max-width: 100%;
}

.image-left {
  margin: 1em 0;
}

@media (min-width: 20em) {
  .image-left {
    display: flex;
    align-items: center;
  }

  .image-left img {
    margin-right: 1em;
    float: left; /* fallback */
  }

  /* clearfix for fallback */
  .image-left::after {
    content: "";
    display: block;
    clear: both;
  }
}

@media (min-width: 30em) {
  .image-left img {
    flex-shrink: 0;
  }
}

.form-button {
  color: green;
}

.table {
  border-color: purple;
}
